<!DOCTYPE html>
<html>
    <head>
        <title>Hologram - Simple Realtime Chat | Hery Vandoro</title>
        <link rel="shortcut icon" type="image/png" href="assets/images/favicon-16x16.png">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="modal-bg"></div>
        <div id="header">
            <div class="left">
                <div class="title">::: Hologram; => {{ me.fullname }}</div>
            </div>
            <div class="right">
                <div class="title-chat">
                    <span class="name" ng-cloak>{{ target.fullname }}</span> - 
                    <span class="username">{{ target.email }}</span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="container">
            <div ng-controller="UserController" id="user-container" class="left">
                <div id="search-box">
                    <input type="text" class="input-box" placeholder="Search" ng-model="search">    
                </div>   
                <div id="user-box">
                    <div ng-click="openChat(this)" ng-cloak class="user" ng-repeat="user in users | filter:{fullname:search}">
                        <div class="photo" ng-style="{'background-color':user.color}">{{ user.initial }}</div>
                        <div class="text">
                            <div class="text1">{{ user.fullname }}</div>
                            <div class="text2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="chat-container" class="right" ng-controller="ChatController">
                <div id="chat-content">
                    <div class="chat" ng-class="(chat.sender==me.email) ? 'me' : 'target'" ng-repeat="chat in chats">
                        <p class="name">{{ chat.sender==me.email? me.fullname : target.fullname }}</p>
                        <p class="content"> {{ chat.messages }}</p>
                    </div>
                </div>
                <div id="chat-input">
                    <input ng-disabled="noPartner()" ng-model="messages" ng-keydown="sendMessages($event)" type="text" class="input-box" placeholder="Write a messages | type [enter] to send">    
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="footer">
            Made with finger. Powered by <a href="http://www.mahirkoding.com">www.mahirkoding.com</a>
        </div>
        <div id="register" class="modal" ng-controller="RegisterController">
            <label>Full Name <span ng-cloak class="error-text">{{ errors.fullname[0] }}</span></label>
            <input type="text" class="input-box" placeholder="Insert your full name" ng-model="fullname">
            <label>Email <span ng-cloak class="error-text">{{ errors.email[0] }}</span></label>
            <input type="text" class="input-box" placeholder="Insert your mail address" ng-model="email">
            <p ng-cloak class="error-text">{{ errors.online[0] }}</p>
            <button ng-click="register()">Register/Login</button>
        </div>
    </body>
    <script data-main="js/main.js" src="js/require.js"></script>
</html>